#tabbed-wr {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
ul.tabbed-list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

li.tabbed-list-item.active {
  background-color: #333;
  color: #f5f5f5;
}
li.tabbed-list-item.inactive {
  background-color: var(--color-light-3);
  color: #333;
}
li.tabbed-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 6px 0;
  border-radius: 5px;
}

#tabbed-item-wr {
  position: relative;
  display: flex;
  flex-direction: column;
}

#tabbed-item-wr .tabbed-item {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--color-light-3);
  padding: 1rem;
  border-radius: 5px;
  z-index: 1;
}

#tabbed-item-wr .tabbed-item.active {
  display: flex;
  flex-direction: column;
  position: relative;
}

ul.tabbed-content-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tabbed-content {
  width: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
  overflow: hidden;
  border-bottom: 1px dashed var(--transparent-dark-1);
  padding-bottom: 1rem;
}
.tabbed-content:last-child {
  border-bottom: none;
}

.tbc-left {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 10px;
}
.tbc-left a {
  display: block;
  width: 100%;
  height: 100%;
}
.tbc-left a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.tbc-right {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

span.tbc-excerpt {
  display: block;
  margin-top: 0.5rem;
  font-size: 12px;
}

span.text-smallest.tbc-date {
  position: absolute;
  right: 0;
  bottom: -8px;
}
